.main-container {
  margin: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

/* ######## text field 1 section ######## */

.text-field-1 {
  display: flex;
  flex-direction: column;
  gap: 19px;

  h1 {
    max-width: 730px;
    color: #4c545c;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.587px;
  }

  p {
    max-width: 730px;
    color: #9eabb2;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.135px;
  }
}

/* ######## field 1 section ######## */

.field-1 {
  margin: 150px 0;
  display: flex;
  /* gap: 110px; */
  gap: 13.0909091vw;
  align-self: flex-start;
  margin-left: calc(-32px - 30px);
  /* border: 1px solid blue; */

  img {
    /* width: 752px;
    height: 572px; */
    width: 52.2222222vw;
    aspect-ratio: 752 / 572;
    flex-shrink: 0;
  }

  .text-field-2 {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 68px 0 0;
    /* border: 1px solid red; */

    div {
      /* border: 1px solid purple; */
      display: flex;
      flex-direction: column;
      max-width: 350px;
      height: fit-content;
      flex-shrink: 0;

      h1 {
        color: #4c545c;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.391px;
      }

      p {
        color: #9eabb2;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.12px;
      }
    }
  }
}

/* ######## responsive ######## */

@media (max-width: 600px) {
  .main-container {
    margin: 160px 0 170px;
  }

  .text-field-1 {
    gap: 16px;

    h1 {
      font-size: 28px;
      letter-spacing: -0.457px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.12px;
    }
  }
}
