.main-container {
  margin: 150px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ######## text field 1 section ######## */

.text-field-1 {
  display: flex;
  flex-direction: column;
  gap: 19px;

  h1 {
    max-width: 730px;
    color: #4c545c;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.587px;
  }

  p {
    max-width: 730px;
    color: #9eabb2;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.135px;
  }
}

/* ######## field 1 section ######## */

.field-1 {
  margin: 80px 0 150px;
  display: flex;
  gap: 110px;
  align-self: flex-start;
  margin-left: calc(-32px - 30px);

  img {
    width: 752px;
    height: 572px;
    flex-shrink: 0;
  }

  /* ######## text field 2 section ######## */

  .text-field-2 {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 68px 0 0;

    div {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      height: fit-content;
      flex-shrink: 0;

      h1 {
        color: #4c545c;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.391px;
      }

      p {
        color: #9eabb2;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.12px;
      }
    }
  }
}

/* ######## text field 3 section ######## */

.text-field-3 {
  display: flex;
  flex-direction: column;
  gap: 19px;

  h1 {
    max-width: 730px;
    color: #4c545c;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.587px;
  }

  p {
    max-width: 730px;
    color: #9eabb2;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.135px;
  }
}

/* ######## img ######## */

.devices-img {
  margin: 110px 0 161px;
  width: 812px;
  height: 475px;
  flex-shrink: 0;
}

/* ######## text field 4 section ######## */

.text-field-4 {
  display: flex;
  flex-direction: column;
  gap: 19px;

  h1 {
    max-width: 730px;
    color: #4c545c;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.587px;
  }

  p {
    max-width: 730px;
    color: #9eabb2;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.135px;
  }
}

/* ######## field 2 section ######## */

.field-2 {
  margin: 72px 0 150px;
  display: flex;
  gap: 30px;

  div {
    max-width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;

    div {
      gap: 16px;

      h1 {
        max-width: 730px;
        color: #4c545c;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.587px;
      }

      p {
        max-width: 730px;
        color: #9eabb2;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.135px;
      }
    }
  }
}

/* ######## companies field section ######## */

.companies-field {
  width: 100%;
  max-width: 1110px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  flex-wrap: wrap;
}

/* ######## text field 5 section ######## */

.text-field-5 {
  margin: 150px 0 0;
  display: flex;
  flex-direction: column;
  gap: 19px;

  h1 {
    max-width: 730px;
    color: #4c545c;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.587px;
  }

  p {
    max-width: 730px;
    color: #9eabb2;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.135px;
  }
}

/* ######## responsive ######## */

@media (max-width: 1100px) {
  .field-1 {
    align-self: unset;
    margin-left: 0;
    align-items: center;
    flex-direction: column;

    img {
      width: 100%;
      height: unset;
    }
  }

  .devices-img {
    width: 100%;
    height: unset;
  }
}

@media (max-width: 600px) {
  .main-container {
    margin: 160px 0 170px;
  }

  .text-field-1 {
    gap: 16px;

    h1 {
      font-size: 28px;
      letter-spacing: -0.457px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.12px;
    }
  }

  .field-1 {
    img {
      width: 312px;
      height: 238px;
    }

    .text-field-2 {
      gap: 48px;
      div {
        text-align: center;
        gap: 10px;

        h1 {
          text-align: center;
        }

        p {
          text-align: center;
          line-height: 26px;
        }
      }
    }
  }
}
